.footer {
   background-color: #222;
   color: #fff;
   padding: 1em;
   text-align: center;
}

/*Aqui está centralizando os conteudos, e limpando o <li>*/
.social_list {
   display: flex;
   justify-content: center;
   list-style-type: none;
}

/*DANDO ESPAÇAMENTO NOS REACT ICONS*/
.social_list li {
   margin: 0 .5em;

}

/*MUDANDO DE COR AO PASSAR O MOUSE POR CIMA*/
.social_list li:hover {
   color: #ffbb33;
   height: 20px;
}

.social_list svg {
   font-size: 1.5em;
   cursor: pointer;
}

.copy_right {
   margin-top: 2em;
}

.copy_right span {
   font-weight: bold;
   color: #ffbb33;
}